<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= render_safe_markdown(@question.description) %>
</p>

<h3>Answers</h3>

<ul>
  <% sort_answers_for(@question).each do |answer| %>
    <li>
      <% if answer.best %>
        <strong>Accepted Answer: </strong>
      <% end %>
      <%= render_safe_markdown(answer.description) %>
      <%= link_to 'Accept Answer', question_answer_path(@question, answer),
        method: :patch,
        id: "answer_#{answer.id}"
      %>
    </li>
  <% end %>
</ul>

<%= render "/answers/form" %>

<%= link_to 'Edit Question', edit_question_path(@question.id) %>
<%= link_to 'Delete Question', question_path(@question.id), method: :delete %>
<%= link_to 'Back', questions_path %>
